body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 300px;
    height: auto; /* Mantém a proporção da imagem */
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
para {
    width: 25%;
    float: left;
}