.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.topo {
    position: relative;
}
.img, .text {
    width: 50%; /* Cada div ocupará metade da largura do container */
    padding: 20px;
    box-sizing: border-box;
}
