.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.topo {
    position: relative;
}

.topo {
    display: flex; 
}

.img, .text {
    width: 49%;
    padding: 20px;
    box-sizing: border-box;
}

.img1{
    width: 200px;
    height: 150px;
}
